<div class="media-card">
  <div class="media-card__header">
    <h2 class="heading heading--h2 media-card__heading">Editorial Principles</h2>
    <div class="media-card__image-box">
      <img src="webp/editorial-principles-desktop@1x.webp"
           srcset="
           webp/editorial-principles-mobile@1x.webp 229w,
           webp/editorial-principles-mobile@2x.webp 459w,
           webp/editorial-principles-desktop@1x.webp 451w,
           webp/editorial-principles-desktop@2x.webp 902w"
           sizes="
         (max-width: 1024px) 229px,
         (min-width: 1025px) 451px"
           alt="Editorial Principles"
           class="media-card__image"
           width="412"
           height="301">
    </div>
  </div>
  <div class="media-card__body">
    <h3 class="heading heading--h2">Why Editorial Principles Are Important?</h3>
    <p class="paragraph">Editorial principles ensure our writing's consistency, clarity, honesty, and integrity.
      Consistency lets readers know what to expect from our platform. From writing tone to analysis depth, we aim for
      excellence throughout all material. Clarity is also crucial—explaining material clearly, minimizing uncertainty,
      and making our evaluations accessible to large audiences. We build trust with our readers on honesty. Our readers
      may trust our material since we fact-check and validate every claim. Our method also emphasizes ethics. We follow
      copyright, anti-plagiarism, and legal norms in an industry frequently viewed with mistrust. These principles make
      our helpful information trustworthy and reliable.</p>
  </div>
</div>
