<div class="media-block">
  <div class="media-block__image-box">
    <img src="webp/media-block-desktop@1x.webp"
         srcset="
         webp/media-block-mobile@1x.webp 327w,
         webp/media-block-mobile@2x.webp 656w,
         webp/media-block-desktop@1x.webp 446w,
         webp/media-block-desktop@2x.webp 893w"
         sizes="
         (max-width: 1024px) 327px,
         (min-width: 1025px) 446px"
         alt="Editorial Team Behind"
         class="media-block__image"
         width="330"
         height="297"
         loading="lazy">
  </div>

  <div class="media-block__content">
    <h2 class="heading heading--h1 media-block__heading">Editorial Team Behind These Guidelines</h2>
    <p class="paragraph media-block__text">
      We prioritize quality and accuracy because of our editorial team. Our staff of professional researchers and
      specialists is knowledgeable and skilled. Each member is well-versed in gaming and online casinos. Our insights
      are factual and informed by industry trends and practices. Our team members go beyond technical knowledge to
      ensure the content matches our goals and values. They share their ideas publicly when appropriate, enhancing our
      transparency and accountability. Our visitors receive insightful and trustworthy information because we hire only
      the best and brightest.
    </p>
  </div>
</div>
