<header class="app-header">
  <div class="container app-header__container">
    <a href="#" class="app-header__logo">
      <img src="logo.svg"
           alt="KASZINÓK Logo"
           class="app-header__logo-image"
           width="159"
           height="18">
    </a>

    <nav id="js-nav" class="header-nav" aria-label="Main navigation">
      <ul class="header-nav__list">
        {% set headerNavItems = ["Kaszínók", "Bónuszok", "Nyerőgépek", "Valódi pénzes kaszinók", "Játékok", "Fizetési módok", "Új kaszinók", "Rólunk", "Kapcsolat"] %}
        {% for item in headerNavItems %}
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">{{ item }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>

    <button class="app-header__search"
            type="button"
            aria-label="Open search"
            aria-expanded="false">
      {% set icon = { class: "app-header__search-icon" } %}
      {% include "partials/icons/search.svg" %}
    </button>

    {% include "partials/modules/lang-switcher.html" %}

    <button class="app-header__burger burger js-nav-button"
            type="button"
            aria-label="Open navigation">
      <span class="burger__line"></span>
      <span class="burger__line"></span>
      <span class="burger__line"></span>
    </button>
  </div>
</header>

<main class="content">
