<header class="header">
  <div class="header__container">
    <a href="#" class="header__logo">
      <img src="logo.svg"
           alt=""
           class="header__logo-image"
           width="172"
           height="33">
    </a>

    <nav id="js-nav-wrapper" class="header__nav header-nav">
      <a href="#" class="header-nav__link">
        <span class="header-nav__link-text">Link</span>
      </a>

      <div class="header-nav__link header-dropdown">
        <span class="header-nav__link-text">
          Link

          {{> icons/nav-arrow-down class="header-nav__link-text-icon" }}
        </span>

        <div class="header-dropdown__list">
          <a href="#" class="header-dropdown__link">Link</a>
          <a href="#" class="header-dropdown__link">Link</a>
        </div>
      </div>
      <a href="#" class="header-nav__link">
        <span class="header-nav__link-text">Link</span>
      </a>

      <button type="button"
              class="button button--primary button--sm header__contact header__contact--mobile">
        Button
      </button>
    </nav>

    <div class="lang-switcher header__lang">
      <span class="lang-switcher__current">
        ua

        {{> icons/nav-arrow-down class="lang-switcher__arrow-icon" }}
      </span>

      <div class="lang-switcher__list">
        <a href="#" class="lang-switcher__link">en</a>
      </div>
    </div>

    <button type="button"
            class="button button--primary header__contact">
      Залишити відгук
    </button>

    <button class="header__burger burger js-nav-button"
            type="button"
            aria-label="Open navigation">
      <span class="burger__line"></span>
      <span class="burger__line"></span>
      <span class="burger__line"></span>
    </button>
  </div>
</header>

<main class="content">
