@use 'sass:math';
@use '../functions/functions';
@use '../configs/configs';
@use '../mixins/mixins';

:root {
  --scroll-width: 0px;
  --header-height: #{functions.rem(56)};
  --container-width: #{functions.rem(1144)};
  --container-indent-x: #{functions.rem(15)};
  --border-radius-base: #{functions.rem(16)};
  --border-radius-sm: #{functions.rem(4)};
  --border-base: #{functions.rem(1)} solid var(--color-stroke);
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  height: 100%;
  font-size: (math.div(20px, 16px)) * 100%;
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  padding-top: var(--header-height);
  font: var(--fs-base) / var(--lh-base) var(--ff-base);
  font-variation-settings: "wdth" 100;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased; // Make text look good on mac(Tim Van Damme test)
  color: var(--color-primary-black);
  text-rendering: optimizelegibility; // The browser emphasizes legibility over rendering speed and geometric precision. This enables kerning and optional ligatures. https://developer.mozilla.org/en-US/docs/Web/CSS/text-rendering
  background-color: var(--color-page-bg);
}

body.preload * {
  transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
  animation-duration: 0s !important;
}

::selection {
  color: var(--color-primary-white);
  background-color: var(--color-base);
}

main {
  flex: 1;
}

a {
  color: var(--color-link);
  background: transparent;
  transition: color 0.2s;

  @include mixins.hover {
    text-decoration: none;
  }
}

.overflow {
  overflow-y: hidden;
  height: 100%;
  margin-right: var(--scroll-width);
}
