%link {
  position: relative;

  &::after {
    @include transition(width);

    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: rem(1);
    background-color: var(--color-dark-blue);
  }

  @include hover {
    &::after {
      width: 100%;
    }
  }
}
