@mixin triangle($size: 2rem, $background: red, $radius: true) {
  pointer-events: none;
  position: relative;
  transform: translateY(50%) rotate(30deg) skewY(30deg) scaleX(0.866);
  overflow: hidden;

  &::before,
  &::after {
    pointer-events: auto;
    content: '';
    position: absolute;
    background: $background;
  }

  &::before {
    // prettier-ignore
    transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(30deg) scaleY(0.866) translateX(-24%);
  }

  &::after {
    // prettier-ignore
    transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(-30deg) scaleY(0.866) translateX(24%);
  }

  &,
  &::before,
  &::after {
    width: $size;
    height: $size;
  }

  @if $radius {
    border-radius: 20%;

    &::before {
      border-radius: 20% 20% 20% 55%;
    }

    &::after {
      border-radius: 20% 20% 55%;
    }
  }
}
