<div class="section editorial-section">
  <div class="container">
    <h2 class="heading heading--h2 editorial-section__heading">Where Our Editorial Guidelines Come From</h2>
    <p class="paragraph">Established standards and best practices have been carefully combined to create our editing
      guidelines to assure the greatest content quality. We base these standards on our Privacy Policy, Terms of Use,
      and Rating standards. We preserve reader privacy by following the Privacy Policy while handling user data and
      interactions. Our Terms of Use emphasize openness and responsibility in our user interaction. Finally, the Rating
      Guidelines guide our casino and service reviews, offering a disciplined and objective approach. Our editorial
      staff applies these principles to every piece of material. We uphold these standards to demonstrate our dedication
      to quality, honesty, and user pleasure.</p>
  </div>

  <div class="container">
    {% include "partials/modules/media-block.html" %}
  </div>
</div>
