:root {
  /*
    Descriptive colors
    */

  // Primary Colors
  --color-primary-black: #000;
  --color-primary-white: #FFF;

  // Supporting Colors
  --color-supporting-yellow: #FA0;
  --color-supporting-red: #C80835;

  // Backgrounds
  --color-background: var(--color-primary-black);

  // Main elements colors
  --color-text-main: var(--color-primary-white);

  // Links
  --color-link: var(--color-black);
  --color-link-hover: var(--color-dark-blue);
  --color-link-visited: var(--color-secondary-white);
}
